<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="test07.bean.UserDao"/>

    <bean id="userService" class="test07.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="xxx"/>
        <property name="location" value="yyy"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="test07.common.MyBeanPostProcessor"/>
    <bean class="test07.common.MyBeanFactoryPostProcessor"/>

</beans>


