<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <!--
        <bean id="userDao" class="test07.bean.UserDao"/>

        <bean id="userService" class="test07.bean.UserService">
            <property name="uId" value="10001"/>
            <property name="userDao" ref="userDao"/>
        </bean>
    -->

    <!--
        <bean id="userDao" class="test08.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

        <bean id="userService" class="test08.bean.UserService">
            <property name="uId" value="10001"/>
            <property name="company" value="腾讯"/>
            <property name="location" value="深圳"/>
            <property name="userDao" ref="userDao"/>
        </bean>
    -->

    <!--
        <bean id="userDao" class="test09.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

        <bean id="userService" class="test09.bean.UserService">
            <property name="uId" value="10001"/>
            <property name="company" value="xxx"/>
            <property name="location" value="yyy"/>
            <property name="userDao" ref="userDao"/>
        </bean>
    -->


<!--
    <bean id="userService" class="test10.bean.UserService" scope="prototype">
        <property name="uId" value="10001"/>
        <property name="company" value="xxx"/>
        <property name="location" value="yyy"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="test10.bean.ProxyBeanFactory"/>
    -->

<!--
    <bean class="test11.event.ContextRefreshedEventListener"/>
    <bean class="test11.event.CustomEventListener"/>
    <bean class="test11.event.ContextClosedEventListener"/>
    -->

<!--
    <bean id="userService" class="test12.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="xxx"/>
        <property name="location" value="yyy"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    -->


    <bean id="userService" class="test13.UserService"/>

    <bean class="io.unnode.aop.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="test13.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="io.unnode.aop.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="io/unnode/aop/AspectJExpressionPointcutAdvisor.java:16">
        <property name="expression" value="execution(* test13.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>